.main-background{
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 732px;
}

.first-screen{
  max-height:624px;
  padding: 120px 0;
}

.flex-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}

.logo{
  width: 68px;
}

.contacts{
  display: flex;
  flex-direction: column;
  gap:3px;
  align-items:center;
}

.contacts__tel{
  font-size: 24px;
  line-height: 28px;
}

.contacts__link{
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: underline;
}

/* Центральный экран */
.flex-screen{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 990px;
}

.flex-screen__title{
  max-width: 990px;
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  color: rgba(255, 255, 255, 0.86);
  margin-bottom: 35px;
}

.flex-screen__description{
  max-width: 960px;
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 90px;
}

.flex-screen__button{
  width: 200px;
  height: 48px;
  background: #15A9CB;
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border-color: transparent;
  color:#fff;
}

@media(max-width:1200px) {
  .flex-screen{
    max-width: 780px;
  }
}





@media(max-width:1024px) {
  .main-background{
    height: 528px;
  }

  .first-screen{
  max-height:442px;
  padding: 70px 0;
}

  .flex-header{
    height: 60px;
}

  .logo{
    width: 60px;
}

  .contacts__tel{
    font-size: 21px;
    line-height: 25px;
}

  .contacts__link{
    font-size: 13px;
    line-height: 15px;
}

  .flex-screen__title{
    max-width: 780px;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 28px;
}

  .flex-screen__description{
    max-width: 754px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 60px;
}
  .flex-screen__button{
    width: 202px;
    height: 48px;
    padding: 11px 49px;
    font-size: 20px;
    line-height: 23px;
}

  .flex-screen{
    max-width: 780px;
  }
}


@media(max-width:830px) {
  .main-background{
    height: 500px;
  }

  .first-screen{
  max-height:380px;
  padding: 60px 0;
}

  .flex-header{
    height: 55px;
}

  .logo{
    width: 55px;
}

  .contacts__tel{
    font-size: 19px;
    line-height: 23px;
}

  .contacts__link{
    font-size: 12px;
    line-height: 14px;
}

  .flex-screen__title{
    max-width: 560px;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 28px;
}

  .flex-screen__description{
    max-width: 530px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 50px;
}
  .flex-screen__button{
    width: 202px;
    height: 48px;
    padding: 11px 49px;
    font-size: 20px;
    line-height: 23px;
}

  .flex-screen{
    max-width: 580px;
  }
}


@media(max-width:670px) {
  .main-background{
    height: 490px;
  }

  .first-screen{
  max-height:350px;
  padding: 40px 0;
}

  .flex-header{
    height: 50px;
}

  .logo{
    width: 50px;
}

  .contacts__tel{
    font-size: 17px;
    line-height: 21px;
}

  .contacts__link{
    font-size: 11px;
    line-height: 12px;
}

  .flex-screen__title{
    max-width: 380px;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 25px;
}

  .flex-screen__description{
    max-width: 360px;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 43px;
}
  .flex-screen__button{
    width: 202px;
    height: 48px;
    padding: 11px 49px;
    font-size: 20px;
    line-height: 23px;
}

  .flex-screen{
    max-width: 420px;
  }
}






@media(max-width:320px) {
  .main-background{
    height: 441px;
  }

  .first-screen{
  max-height:266px;
  padding: 65px 0;
}

  .flex-header{
    height: 30px;
}

  .logo{
    width: 30px;
}

  .contacts__tel{
    display: none;
}

  .contacts__link{
    display: none;
}

  .flex-screen__title{
    max-width: 290px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 23px;
}

  .flex-screen__description{
    max-width: 290px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 54px;
}
  .flex-screen__button{
    width: 160px;
    height: 38px;
    padding: 9px 28.5px;
    font-size: 16px;
    line-height: 19px;
}

  .flex-screen{
    max-width: 290px;
  }

  .contacts{
    background-image: url('../img/Phone.svg');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
  }
}



